dns_challenge_certs:
  name_of_the_certificate_object_which_will_appear_in_bigip:
    cn: "acme1.example.com"
    san: ["acme1.example.com"]
  wildcard.example.com:
    cn: "*.example.com"
    san: ["example.com"]
  www.example.com:
    cn: "www.example.com"
    san: ["www.example.com"]
    partition: another_partition
    parent_ssl_profile: custom-clientssl