email_address               = ""
F5XC_API_TOKEN              = ""
F5XC_TENANT_NAME            = ""
F5XC_GROUP_NAME             = ""
BIGIP_HOST                  = ""
BIGIP_PORT                  = ""
BIGIP_USERNAME              = ""
BIGIP_PASSWORD              = ""
global_parent_ssl_profile   = ""